.advanteges {
    position: relative;
    height: 1257px;
    background: url(./../../img/bg-advanteges.png) no-repeat;
    color: #f9fafc;
    text-transform: uppercase;
    font-weight: bold;
    background-size: 1920px;
    overflow: hidden;
    h2 {
        display: none;
        margin: 160px 0 85px;
    }
    p {
        position: absolute;
        width: 750px;
        right: 143px;
        font-size: 32px;
        margin-top: 103px;
        line-height: 2.2;
        letter-spacing: 1.8px;
        font-family: 'Gilroy-ExtraBoldItalic';
    }
    ul {
        margin-left: 292px;
        margin-top: 147px;
        padding: 0;
        text-align: left;
        letter-spacing: 3px;
        > h3 {
            font-size: 64px;
            margin-bottom: 59px;
        }
        > li {
            list-style: none;
            font-size: 51px;
            margin-left: 40px;
            margin-bottom: 21px;
            > span {
                display: inline-block;
                width: 37px;
                height: 37px;
                background: linear-gradient(#c8911d, #fbe480, #c8911d);
                border-radius: 50%;
                margin-right: 25px;
            }
        }
    }
    @media (max-width:1440px) {
        background-size: 1440px;
        height: 838px;
    }
    @media (max-width:1280px) {
        background-size: 1280px;
        height: 670px;
        p {
            right: 143px;
            font-size: 22px;
            margin-top: 70px;
        }
        ul {
            margin-left: 0;
            margin-top: 100px;
            > h3 {
                font-size: 32px;
                margin-bottom: 40px;
            }
            > li {
                list-style: none;
                font-size: 28px;
                margin-left: 40px;
                margin-bottom: 21px;
                > span {
                    display: inline-block;
                    width: 37px;
                    height: 37px;
                    background: yellow;
                    border-radius: 50%;
                    margin-right: 25px;
                }
            }
        }
    }
    @media (max-width:1024px) {
        background-size: 1024px;
        height: 471px;
        ul {
            margin-top: 70px;
            > li {
                margin-left: 40px;
                margin-bottom: 21px;
                > span {
                    width: 19px;
                    height: 19px;
                }
            }
        }
        p {
            right: 0;
            left: 20px;
            width: 450px;
            font-size: 15px;
            margin-top: 18px;
        }
    }
    @media (max-width:720px) {
        background-size: 720px;
        height: 417px;
        ul {
            margin-top: 40px;
            > li {
                font-size: 24px;
            }
        }
        p {
            right: 0;
            left: 20px;
            width: 450px;
            font-size: 15px;
            margin-top: 18px;
        }
    }
    @media (max-width:640px) {
        background-size: 640px;
        height: 314px;
        ul {
            font-size: 26px;
            margin-bottom: 25px;
            > li {
                font-size: 20px;
                margin-bottom: 10px;
            }
        }
        p {
            width: 380px;
            font-size: 10px;
        }
    }
    @media (max-width:540px) {
        background-size: 540px;
        height: 314px;
        ul {
            margin-bottom: 0px;
            margin-top: 25px;
            > h3 {
                font-size: 14px;
                margin-left: 10px;
            }
            > li {
                margin-left: 10px;
                font-size: 12px;
                > span {
                    width: 10px;
                    height: 10px;
                }
            }
        }
        p {
            width: 200px;
            font-size: 7px;
            margin-top: 10px;
            margin-left: 80px;
        }
    }
    @media (max-width:360px) {
        background-size: 360px;
        height: 236px;
        ul {
            margin-bottom: 0px;
            margin-top: 25px;
            > h3 {
                font-size: 14px;
                margin-left: 10px;
            }
            > li {
                margin-left: 10px;
                font-size: 12px;
                > span {
                    width: 10px;
                    height: 10px;
                }
            }
        }
        p {
            width: 200px;
            font-size: 7px;
            margin-top: 10px;
            margin-left: 0;
        }
    }
}