@font-face {
    font-family: 'Gilroy-Thin';
    src: url(./Gilroy-Thin.eot);
    src: url(./Gilroy-Thin.ttf);
    src: url(./Gilroy-Thin.woff);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Gilroy-ThinItalic';
    src: url(./Gilroy-ThinItalic.eot);
    src: url(./Gilroy-ThinItalic.ttf);
    src: url(./Gilroy-ThinItalic.woff);
    font-style: italic;
    font-weight: 100;
@font-face {
    font-family: 'Gilroy-UltraLight';
    src: url(./Gilroy-UltraLight.eot);
    src: url(./Gilroy-UltraLight.ttf);
    src: url(./Gilroy-UltraLight.woff);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Gilroy-UltraLightItalic';
    src: url(./Gilroy-UltraLightItalic.eot);
    src: url(./Gilroy-UltraLightItalic.ttf);
    src: url(./Gilroy-UltraLightItalic.woff);
    font-style: italic;
    font-weight: 200;
}
}
@font-face {
    font-family: 'Gilroy-Light';
    src: url(./Gilroy-Light.eot);
    src: url(./Gilroy-Light.ttf);
    src: url(./Gilroy-Light.woff);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Gilroy-LightItalic';
    src: url(./Gilroy-LightItalic.eot);
    src: url(./Gilroy-LightItalic.ttf);
    src: url(./Gilroy-LightItalic.woff);
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: 'Gilroy-Regular';
    src: url(./Gilroy-Regular.eot);
    src: url(./Gilroy-Regular.ttf);
    src: url(./Gilroy-Regular.woff);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy-RegularItalic';
    src: url(./Gilroy-RegularItalic.eot);
    src: url(./Gilroy-RegularItalic.ttf);
    src: url(./Gilroy-RegularItalic.woff);
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: 'Gilroy-Medium';
    src: url(./Gilroy-Medium.eot);
    src: url(./Gilroy-Medium.ttf);
    src: url(./Gilroy-Medium.woff);
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy-MediumItalic';
    src: url(./Gilroy-MediumItalic.eot);
    src: url(./Gilroy-MediumItalic.ttf);
    src: url(./Gilroy-MediumItalic.woff);
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url(./Gilroy-SemiBold.eot);
    src: url(./Gilroy-SemiBold.ttf);
    src: url(./Gilroy-SemiBold.woff);
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Gilroy-SemiBoldItalic';
    src: url(./Gilroy-SemiBoldItalic.eot);
    src: url(./Gilroy-SemiBoldItalic.ttf);
    src: url(./Gilroy-SemiBoldItalic.woff);
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: 'Gilory-Bold';
    src: url(./Gilroy-Bold.eot);
    src: url(./Gilroy-Bold.ttf);
    src: url(./Gilroy-Bold.woff);
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: 'Gilroy-BoldItalic';
    src: url(./Gilroy-BoldItalic.eot);
    src: url(./Gilroy-BoldItalic.ttf);
    src: url(./Gilroy-BoldItalic.woff);
    font-style: italic;
    font-weight: 700;
}
@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url(./Gilroy-ExtraBold.eot);
    src: url(./Gilroy-ExtraBold.ttf);
    src: url(./Gilroy-ExtraBold.woff);
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Gilroy-ExtraBoldItalic';
    src: url(./Gilroy-ExtraBoldItalic.eot);
    src: url(./Gilroy-ExtraBoldItalic.ttf);
    src: url(./Gilroy-ExtraBoldItalic.woff);
    font-style: italic;
    font-weight: 800;
}
@font-face {
    font-family: 'Gilroy-Black';
    src: url(./Gilroy-Black.eot);
    src: url(./Gilroy-Black.ttf);
    src: url(./Gilroy-Black.woff);
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: 'Gilroy-BlackItalic';
    src: url(./Gilroy-BlackItalic.eot);
    src: url(./Gilroy-BlackItalic.ttf);
    src: url(./Gilroy-BlackItalic.woff);
    font-style: italic;
    font-weight: 900;
}

